# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

services
node_modules
dist
dist-ssr
*.local
.env
env
TestPage.tsx
src/pages/TestPage
src/services/firebaseConfig.tsx
services/firebaseConfig
firebaseConfig.tsx
../src/services/firebaseConfig
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
