@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
  z-index: 10;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(126, 170, 170);
  border-radius: 20px;
  border: 3px solid #eee;
  z-index: 10;
}
h1, h2, h3, h4, h5 {
  font-family: Poppins, sans-serif, Arial, Helvetica, sans-serif;
}
p, span, input, label, li, a {
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
}

select {
  @apply border-black hover:border-teal-600 bg-white rounded-lg pl-2 drop-shadow-sm shadow-gray-200 cursor-pointer outline-none focus:border-teal-600 h-[42px] w-[350px] mb-4 focus:outline-teal-200 focus:shadow-teal-200
}



.sectionOffhome {
  @apply h-80 w-52 bg-gray-100 rounded-md shadow-sm shadow-gray-300 border border-gray-200 flex flex-col items-center cursor-pointer hover:border-teal-300 duration-200
  hover:shadow-lg hover:shadow-teal-100  text-gray-400 
  ease-linear
}
.sectionOnhome {
  @apply h-[24rem] w-[18rem] bg-teal-500 rounded-md shadow-lg shadow-gray-400/80 flex flex-col items-center ease-linear duration-200 text-white text-xl font-semibold overflow-hidden 
}
.sectionOnhome span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, transparent, rgb(0, 255, 200));
  animation: borderAnimation1 2s linear infinite;
}

@keyframes borderAnimation1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.sectionOnhome span:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(to bottom, transparent,   rgb(0, 255, 200));
  animation: borderAnimation2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes borderAnimation2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.sectionOnhome span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to left, transparent, rgb(0, 255, 200));
  animation: borderAnimation3 2s linear infinite;
  animation-delay: 2s;
}
@keyframes borderAnimation3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sectionOnhome span:nth-of-type(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(to top, transparent, rgb(0, 255, 200));
  animation: borderAnimation4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes borderAnimation4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}




.textBase {
  @apply text-gray-400 font-normal
}
.dataText {
  @apply text-teal-500 font-bold text-lg pl-2
}
.detail h3 {
  @apply border-b-[1px] 
}
.documentLink {
  @apply text-teal-700 font-bold text-lg pt-1
}
.textGradient {
  background-image: linear-gradient(0deg, rgba(24,160,163,1) 51%, rgba(9,247,231,1) 94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-weight: 500;
}

:root {
  --background-gradient-main: linear-gradient(215deg, rgba(157,245,247,1) 17%, rgba(186,239,249,1) 43%, rgba(255,255,255,1) 74%);
  --background-gradient-secondary: linear-gradient(24deg, rgba(88,179,167,1) 0%, rgba(129,215,208,1) 34%, rgba(255,255,255,1) 66%);
  --color-main: #079E7A;
  --color-secondary: #6BBFAB;
  --color-third: #b4ece0;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .5s forwards;
}

@keyframes animeLeft {
  to {
      opacity: 1;
      transform: initial;
  }
}

.detailAnimation {
  width: 100px;
  height: 4px;
  border-radius: 8px;
  background: var(--background-gradient-main);
  position: absolute;
  left: 182px;
  top: 54px;
  animation: detailPass 5s forwards ease-out;
  z-index: -1;
}
@keyframes detailPass {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}

